@font-face {
  font-family: "Geist Pixel Square";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Square.woff2")
    format("woff2");
}
